html, body {
    width: 100%;
}

.section-header {
    height: 100vh;
    min-height: 650px;
    background-image: url(content/bg/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}