html, body {
    width: 100%;
}

.section-header {
    height: 100vh;
    min-height: 650px;
    background-image: url(content/bg/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

.contacts {
    font-size: 16px;
    color: #212121;
    text-align: center;
}

.contacts__title {
    margin-bottom: 10px;
}

.contacts__content {
    background-color: #212121;
    color: #ffbc2f;
    padding: 5px 30px;
    text-decoration: none;
}